
.warning, .info, .error, .success {
	-moz-box-shadow: 0px 39px 0px -24px #e67a73;
	-webkit-box-shadow: 0px 39px 0px -24px #e67a73;
	box-shadow: 0px 39px 0px -24px #e67a73;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #ffffff;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 15px;
	text-decoration:none;
}

.warning {
background-color:#e4685d;
}

.success {
background-color:#44c767;
}

.error {
background-color:#f0cb11;
}

.info {
background-color:#2dabf9;
}